.textBlueGradient {
    background: #ccc;
    background: linear-gradient(45deg, rgb(245, 210, 246) 0%, #cea7ea 35%, #9984ef 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}